<% layout('layouts/boilerplate') %>

<!-- New card version -->
<div class="container">
  <div class="row justify-items-evenly">
    <div class="col-6">
      <div class="card mb-2">
        <img
          src="<%= campsite.img %>"
          class="card-img-top"
          alt="Image of <%= campsite.title %>"
        />
        <div class="card-body">
          <h5 class="card-title"><%= campsite.title %></h5>
          <p class="card-text"><%= campsite.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong><%= campsite.location %></strong>
          </li>
          <li class="list-group-item text-muted">
            Price per night: £<%= campsite.price %>
          </li>
        </ul>
        <div class="card-body row justify-items-evenly">
          <a href="/campsites" class="btn btn-secondary col m-2 px-0">Back</a>
          <a
            class="btn btn-success col m-2 px-0"
            href="/campsites/edit/<%= campsite.id %>"
            >Edit</a
          >
          <form
            class="d-inline col m-2 px-0"
            action="/campsites/<%= campsite.id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger col-12">Delete</button>
          </form>
        </div>
      </div>
      <div class="card mb-2 mt-2">
        <div class="card-body">
          <h5 class="card-title">Leave a review</h5>
          <form
            class="row row-cols-lg-auto g-4 align-items-center validated-form"
            action="/campsites/<%= campsite.id %>/reviews"
            method="POST"
            novalidate
          >
            <div class="col-12">
              <label class="form-label" for="rating">Rating:</label>
              <input
                type="range"
                step="1"
                min="1"
                max="5"
                class="form-range"
                id="rating"
                name="review[rating]"
              />
            </div>

            <div class="col-12">
              <label class="form-label" for="body"
                >Write your review here:</label
              >
              <textarea
                class="form-control"
                name="review[body]"
                id="body"
                required
              ></textarea>
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">
                You can't leave the review blank.
              </div>
            </div>
            <div class="col-12">
              <button class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
