<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/stars.css" />

<div class="container">
  <div class="row justify-items-evenly">
    <!-- Campsite details -->
    <div class="col-12 col-md-6">
      <div class="card mb-2">
        <div
          id="carouselOfCampsiteImages"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <% campsite.images.forEach((img, i) => {%>
            <div class="carousel-item <%= i === 0 ? "active" : "" %>">
              <img src="<%= img.card %>" class="d-block w-100" alt="" />
              <div class="carousel-caption d-none d-md-block p-0">
        <p class="mb-0"><small>Photo added by <%= img.uploadedBy %></small></p>
      </div>
            </div>
            <% }) %>
          </div>
          <% if (campsite.images.length > 1) { %>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselOfCampsiteImages"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselOfCampsiteImages"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <% } %>
        </div>
        <div class="card-body">
          <h2 class="card-title"><%= campsite.title %></h2>
          <p class="card-text"><%= campsite.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong><%= campsite.location %></strong>
          </li>
          <li class="list-group-item text-muted">
            Price per night: £<%= campsite.price %>
          </li>
          <li class="list-group-item text-muted">
            Submitted by <%= campsite.author.username %>
          </li>
        </ul>
        <div class="card-body row justify-items-evenly">
          <a href="/campsites" class="btn btn-secondary col m-2 px-0">Back</a>
          <a
            class="btn btn-dark col m-2 px-0"
            href="/campsites/<%= campsite.id %>/upload"
            >Upload photos</a
          >
          <% if (currentUser && campsite.author.equals(currentUser.id)) { %>
          <a
            class="btn btn-success col m-2 px-0"
            href="/campsites/<%= campsite.id %>/edit"
            >Edit</a
          >
          <form
            class="d-inline col m-2 px-0"
            action="/campsites/<%= campsite.id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger col-12">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
    </div>
    <!-- Review form -->
    <div class="col-12 col-md-6">
      <div class="card text-bg-light mb-3">
        <h5 class="card-header">Location</h5>
        <div id='map'></div>
      </div>
      <div class="card text-bg-light mb-3">
        <h5 class="card-header">Leave a review</h5>
        <% if(currentUser) { %>
        <div class="card-body">
          <form
            class="validated-form reviewForm"
            action="/campsites/<%= campsite.id %>/reviews"
            method="POST"
            novalidate
          >
            <div class="col-12 mb-2">
              <fieldset class="starability-grow">
                <legend>Rating:</legend>
                <input
                  type="radio"
                  id="no-rate"
                  class="input-no-rate"
                  name="review[rating]"
                  value="0"
                  checked
                  aria-label="No rating."
                />
                <input
                  type="radio"
                  id="first-rate1"
                  name="review[rating]"
                  value="1"
                />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input
                  type="radio"
                  id="first-rate2"
                  name="review[rating]"
                  value="2"
                />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input
                  type="radio"
                  id="first-rate3"
                  name="review[rating]"
                  value="3"
                />
                <label for="first-rate3" title="Average">3 stars</label>
                <input
                  type="radio"
                  id="first-rate4"
                  name="review[rating]"
                  value="4"
                />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input
                  type="radio"
                  id="first-rate5"
                  name="review[rating]"
                  value="5"
                />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
              <small id="status" class="d-none my-1 text-danger">
                You need to select a rating out of 5!
              </small>
            </div>

            <div class="col-12">
              <label class="form-label" for="body"
                >Write your review here:</label
              >
              <textarea
                class="form-control"
                name="review[body]"
                id="body"
                required
              ></textarea>
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">
                You can't leave the review blank.
              </div>
            </div>
            <div class="d-grid gap-2 d-lg-flex justify-content-lg-end">
              <button class="btn btn-primary mt-2">Submit</button>
            </div>
          </form>
        </div>
        <% } else {%>
        <div class="card-body">
          <p class="card-text">You must be logged in to post a review!</p>
          <a class="btn btn-secondary" href="/login">Log in</a>
        </div>
        <% } %>
      </div>
      <!-- List of reviews -->
      <div class="card mb-2 text-bg-light">
        <% if (campsite.numberOfRatings) { %>
        <h5 class="card-header">Reviews of <%= campsite.title %></h5>
        <div class="card-body">
          <h6 class="card-title">
            Average rating: <%= campsite.averageRating.toFixed(1) %>
            <span class="text-muted">
              <% if (campsite.numberOfRatings === 1) {%>
              (<%=campsite.numberOfRatings %> review) <% } else { %>
              (<%=campsite.numberOfRatings %> reviews) <% } %>
            </span>
          </h6>
        </div>
        <% for (let review of campsite.reviews) {%>
        <div class="card mx-2 mb-2">
          <div class="card-body">
            <h5 class="card-title">
              <p class="starability-result" data-rating="<%= review.rating %>">
                Rated <%= review.rating %>/5
              </p>
            </h5>
            <small>By <%= review.author.username %></small>
            <p class="card-text"><%= review.body %></p>
            <% if (currentUser && review.author.equals(currentUser.id)) { %>
            <form
              class="d-grid gap-2 d-flex justify-content-end"
              action="/campsites/<%= campsite.id %>/reviews/<%= review.id %>?_method=DELETE"
              method="POST"
            >
              <button class="btn btn-danger btn-sm">Delete</button>
            </form>
            <% } %>
          </div>
        </div>
        <% } %> <% } else { %>
        <div class="card-body">
          <h5 class="card-title">Reviews of <%= campsite.title %></h5>
          <p class="card-text">
            No reviews yet, be the first to post a review!
          </p>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<script>
  const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
  const campsite = <%-JSON.stringify(campsite)%>
</script>

<script src="/js/showMap.js"></script>