<% layout('layouts/boilerplate') %>

<!-- New card version -->
<div class="container">
  <div class="row justify-items-evenly">
    <div class="col-12 col-md-6">
      <div class="card mb-2">
        <!-- <img
          style="object-fit: cover; height: 15vw"
          src="<%= campsite.img %>"
          class="card-img-top"
          alt="Image of <%= campsite.title %>"
        /> -->
        <div class="ratio ratio-16x9">
          <img
            style="object-fit: cover"
            alt="Image of <%= campsite.title %>"
            class="card-img-top img-fluid"
            src="<%= campsite.img %>"
          />
        </div>
        <div class="card-body">
          <h2 class="card-title"><%= campsite.title %></h2>
          <p class="card-text"><%= campsite.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong><%= campsite.location %></strong>
          </li>
          <li class="list-group-item text-muted">
            Price per night: £<%= campsite.price %>
          </li>
          <li class="list-group-item text-muted">
            Submitted by <%= campsite.author.username %>
          </li>
        </ul>
        <div class="card-body row justify-items-evenly">
          <a href="/campsites" class="btn btn-secondary col m-2 px-0">Back</a>
          <% if (currentUser && campsite.author.equals(currentUser.id)) { %>
          <a
            class="btn btn-success col m-2 px-0"
            href="/campsites/edit/<%= campsite.id %>"
            >Edit</a
          >
          <form
            class="d-inline col m-2 px-0"
            action="/campsites/<%= campsite.id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger col-12">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card text-bg-light mb-3">
        <h5 class="card-header">Leave a review</h5>
        <div class="card-body">
          <form
            class="validated-form"
            action="/campsites/details/<%= campsite.id %>/reviews"
            method="POST"
            novalidate
          >
            <div class="col-12">
              <label class="form-label" for="rating">Rating:</label>
              <div class="col-sm-5">
                <input
                  type="range"
                  step="1"
                  min="1"
                  max="5"
                  class="form-range"
                  id="rating"
                  name="review[rating]"
                />
              </div>
            </div>

            <div class="col-12">
              <label class="form-label" for="body"
                >Write your review here:</label
              >
              <textarea
                class="form-control"
                name="review[body]"
                id="body"
                required
              ></textarea>
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">
                You can't leave the review blank.
              </div>
            </div>
            <div class="d-grid gap-2 d-lg-flex justify-content-lg-end">
              <button class="btn btn-primary mt-2">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="card mb-2 text-bg-light">
        <% if (campsite.numberOfRatings) { %>
        <h5 class="card-header">Reviews of <%= campsite.title %></h5>
        <div class="card-body">
          <h6 class="card-title">
            Average rating: <%= campsite.averageRating.toFixed(1) %>
            <span class="text-muted">
              <% if (campsite.numberOfRatings === 1) {%>
              (<%=campsite.numberOfRatings %> review) <% } else { %>
              (<%=campsite.numberOfRatings %> reviews) <% } %>
            </span>
          </h6>
        </div>
        <% for (let review of campsite.reviews) {%>
        <div class="card mx-2 mb-2">
          <div class="card-body">
            <h5 class="card-title">
              <%= '⭐'.repeat(review.rating) %>
              <span class="text-muted">(<%= review.rating %> stars)</span>
            </h5>
            <p class="card-text"><%= review.body %></p>
            <form
              class="d-grid gap-2 d-flex justify-content-end"
              action="/campsites/details/<%= campsite.id %>/reviews/<%= review.id %>?_method=DELETE"
              method="POST"
            >
              <button class="btn btn-danger btn-sm">Delete</button>
            </form>
          </div>
        </div>
        <% } %> <% } else { %>
        <div class="card-body">
          <h5 class="card-title">Reviews of <%= campsite.title %></h5>
          <p class="card-text">
            No reviews yet, be the first to post a review!
          </p>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
