<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/stars.css" />
<h1>All Campsites</h1>

<% for(let campsite of campsites.reverse()) {%>
<div class="card mb-1">
  <div class="row g-0">
    <div class="col-md-5 col-lg-4">
      <img
        style="object-fit: cover"
        src="<%=campsite.images[0].url%>"
        alt="image of campsite"
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-md-7 col-lg-8">
      <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
          <h4 class="card-title me-2"><%= campsite.title %></h4>
          <% if(campsite.averageRating) { %>
          <div class="">
            <p
              class="starability-result"
              data-rating="<%= campsite.averageRating.toFixed(0) %>"
            >
              Average <%= campsite.averageRating.toFixed(0) %>/5
            </p>
          </div>
          <% } %>
        </div>
        <h5><%= campsite.location %></h5>
        <p class="card-text">
          <small class="text-muted"><%= campsite.description %></small>
        </p>

        <a class="btn btn-secondary" href="/campsites/<%=campsite.id%>"
          >View more</a
        >
      </div>
    </div>
  </div>
</div>
<% } %>
